.forget {
  background-color: #f9f9f9;
  display: flex;
  text-align: center;
  width: 500px;
  height: 470px;
  justify-content: center;
  margin: 20px auto;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.forget .FormGroup {
  text-align: left;
}

.forget .form-control {
  height: 30px;
  width: 350px;
  margin-bottom: 30px;
  display: flex;
}

.forget .form-group {
  display: flex;
  align-items: center;
}

.forget .form-label {
  margin-right: 10px;
  width: 150px;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}

.forgot-password {
  margin-left: auto;
  color: black;
  text-decoration: underline;
}

.text {
  color: black;
  padding-top: 20px;
}

.title1 {
  padding-bottom: 30px;
  color: black;
}

.text2{
  color: black;
}

.label-container {
  display: flex; /* Use flexbox for horizontal alignment */
  align-items: center; /* Center items vertically */
}

.error-text {
  color: red; /* Red color for error messages */
  margin-top: 10px; /* Space above the error message */
}
